version: '3.9'

services:
  backend:
    build:
      context: ./backend
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:./prisma/dev.db
      - PORT=4000
    ports:
      - '4000:4000'

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - '5173:80'

